<main>
    <div class="map-wrapper">
      <div id="map" class="map-mostrar">    </div>
    </div>
        
      <div class="barra-titulo" id="barra-titulo">
          <p class="card-text text-white p-2 p-barra" style="background-color: #084376;">
            Portal web para la vigilancia y monitoreo hidrológico
        </p>
        
      </div>
  
      <div class="barra-filtro">
        <div class="card">
          <div class="card-header text-center" style="background-color: #084376;">
            <p class="text-white" style="display: inline;">ZONAS</p> 
              <a data-bs-toggle="collapse" href="#collapseExample" role="button"style="display: inline; float: right; color: white;">
                <i class="bi bi-chevron-compact-down"></i>
              </a>
          </div>
          <div class="collapse show" id="collapseExample">
            <div class="card-body">
              <div class="mb-3">
                <label for="cmboDepartamento" class="form-label">Departamento:</label>
                <select class="form-select" aria-label="Default select example" id="combDepartamento" (change)="acercarMapa()">
                  <option selected>--SELECCIONE--</option>
                  
                  @for (dep of departamentos; track dep.id) {
                    <option value={{dep.id}} >{{dep.nombre}}</option>
                  }

                </select>
              </div>
  
              <div class="mb-3">
                <label for="combProvincia" class="form-label">Provincia:</label>
                <select class="form-select" aria-label="Default select example" id="combProvincia">
                  <option selected>--SELECCIONE--</option>
                  <option value="1">CUSCO</option>
                </select>
              </div>
  
              <div class="mb-3">
                <label for="combDistrito" class="form-label">Distrito:</label>
                <select class="form-select" aria-label="Default select example" id="combDistrito">
                  <option selected>--SELECCIONE--</option>
                  <option value="1">CUSCO</option>
                </select>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div class="leyenda">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          <i class="bi bi-info-circle"></i>
        </button>
      
        <div style="min-height: 120px;">
          <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: 300px;">
              Leyenda
            </div>
          </div>
        </div>
      </div> -->
  </main>
  